@use '../abstracts/variables' as var;
@use '../abstracts/functions' as func;
@use '../abstracts/mixins' as mix;

.card {
	width: 100%;
	margin: func.em(40, var.$font-size-primary) 0
		func.em(60, var.$font-size-primary);
	overflow: hidden;
}

.section {
	@include mix.flex-grow(1);
}

.section--monthly-subsription,
.section--why-us {
	color: var.$color-light-gray;
}

.section--monthly-subsription {
	background-color: var.$color-cyan;
}

.section--monthly-subsription .content {
	margin-bottom: func.em(28, 15);
	font-size: func.em(15, var.$font-size-primary);
}

.section--monthly-subsription .button {
	height: 3em;
	font-size: func.em(16, var.$font-size-primary);
}

.price {
	@include mix.flexbox;
	@include mix.align-items(center);
	margin-top: func.em(-6, var.$font-size-primary);
	font-size: func.em(16, var.$font-size-primary);
}

.price .num {
	margin-right: func.em(12, 31);
	font-size: func.em(31, 16);
	font-weight: var.$font-weight-700;
}

.price .label {
	color: var.$color-lighter-gray;
	font-size: inherit;
	font-weight: var.$font-weight-400;
}

.section--why-us {
	background-color: var.$color-cyan-light;
}

.list li + li {
	margin-top: func.em(3, var.$font-size-primary);
}
