@use '../abstracts/variables' as var;

body {
	position: relative;
	display: flex;
	-webkit-font-smoothing: antialiased;
}

ul,
ol {
	margin: 0;
	padding: 0;
}

.link {
	color: var.$color-cyan;
}

.link:hover {
	color: var.$color-cyan;
}
